/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}



/* Header Section Style */
.header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav{
    display: flex;
    gap: 600px;
    padding: 20px 80px;
    align-items: center;
}
.nav li{
    list-style: none;
    float: left;
    color: #424242;
    padding-right: 40px;
}
.logo h3{
    color: #131313;
    font-weight: 700;
    font-size: 25px;
}
                        /* Hero area */
.hero-section{
    text-align: center;
}

.hero-title{
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    padding: 0 380px;

}
.hero-des{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 0 340px;
}
.primary-btn{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    padding: 20px 25px;
}
.hero-img img{
    width: 70%;
    height: 35%;
    padding: 40px;
}
/* Team Section Styles */
.team-section{
    display: flex;
    gap: 70px;
    padding: 80px 200px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.team-image img{
    width: 200px;
    height: 200px;
}
.team-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.team-title span{
    color: #FF900E;
    font-weight: 700;
}
.team-title strong{
    color: #131313;
}
.team-des{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* Feature Section styles */
.feature-section{
    display: flex;
    gap: 100px;
    padding: 100px 130px;
}
.feature-title{
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-des{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}
.feature-box{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    padding-top: 1px;
    margin-top: 10px;
}
.feature-h4{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.feature-p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: -10px;
}
.feature-img img{
    width: 540px;
    height: 100%;
}
.down-box{
    background-color: #FF900E;
    padding: 20px 25px;
    margin: -87px 230px 30px -65px;
    position: absolute;
    border-radius: 8px;
    text-align: center;
}
.down-box h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 55px;
    margin: 0;
}
.down-box p{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    margin-top: 0;
}
/* Facts Section Style */
.facts-section{
    margin: 30px 120px;
}
.facts-title{
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}
.facts-des{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding-right: 600px;
}
.fact-boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
    margin: 80px 0;
}
.fact-box{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 35px 30px;
    transition: transform 1s;
}
.fact-box:hover {
    transform: rotate(45deg);
}
.fact-box-title{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 0;
}
.fact-box-des{
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    margin-top: -50px;
}
/* BLogs Section Styles */
.Section-info{
    text-align: center;
    margin-top: 100px;
}
.Section-title{
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}
.Section-des{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 400px;
}
.blogs-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    margin: 100px;
}
.blog{
    height: 280px;
    overflow: hidden;
    float: left;
    position: relative;
    border-radius: 10px;
    transition: 1s;
}
.blog:hover {
    transform: rotate(9deg);
}
.blog img{
    width: 100%;
    height: 100%;
}
.blog-details{
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    overflow: hidden !important; 
    left: 0px; 
    color: white; 
    width: 100%; 
    padding: 40px 10px; 
    padding-bottom: 0px; 
    transition: 0.3s;
}
.blog:hover .blog-details{
    background: linear-gradient(to top, black, transparent 180px ) !important ;

}
.blog-cetagory a{
    color: #FFFFFF;
    margin-bottom: 0;
}
.blog-title{
    margin-bottom: -30px;
    transition: 0.5s;
    font-size: 20px;
     padding-right: 30px;
}
.blog:hover .blog-title{
    margin-bottom: 10px;
}
#learnmorebtn{
    transform: translateX(-150px);
    transition: transform 1s;
}
#learnmorebtn a{
    color: #FFFFFF;
}
.blog:hover #learnmorebtn{
    transform: translateX(0px);
}
/* Sponsor Section Style*/
.sponsors{
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    padding: 10px 200px;
    margin-bottom: 80px;
    opacity: 50%;
}
/* Footer Section Style */
.footer{
    background: #FFF4E7;
    border-radius: 8px;
    margin: 80px;
    padding: 30px;
    text-align: center;
}
.footer p{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

/*--------------------Mobile Responsive----------------------- */
@media only screen and (max-width:576px) {
    .nav{
        gap: 1px;
        flex-direction: column;
        padding: 20px 100px;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
    }
    .nav li{
        padding: 0 20px;
    }
    .hero-title{
        padding: 0;
        font-size: 34px;
    }
    .hero-des{
        padding: 0;
        font-size: 13px;
    }
    .primary-btn{
        padding: 10px 14px;
        font-size: 13px;
    }
    /* Team Section Responsive */
    .team-section{
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    .team-images{
        gap: 10px;
        margin-top: 60px;
    }
    .team-image img {
        width: 100%;
        height: 100%;
    }
    /* Feature Section Responsive */
    .feature-section{
        flex-direction: column;
        padding: 10px;
    }
    .feature-img img {
        width: 100%;
    }
    .down-box{
        margin: -70px -30px 10px -3px;
    }
    .down-box h3 {
        color: #FFFFFF;
        font-size: 25px;
    }
    .down-box p {
        color: #FFFFFF;
        font-size: 15px;s
    }
    /* Facts Section Responsive */
    .facts-des{
        padding: 20px 0;
    }
    .fact-boxes{
        grid-template-columns: repeat(1,1fr);
        margin-top: 5px;
        gap: 30px;
    }
    .facts-section{
        padding: 10px;
        margin: 60px 0;
    }
    
    /* Blog Section Responsive */
    .Section-des{
        padding: 10px;
    }
    .blogs-section{
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }
    .blog-title{
        font-size: 16px;
    }
    /* Sponsor Section Responsive */
    .sponsors{
        gap: 32px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding: 0;
    }
    /* Footer Section Responsive */
    .footer{
        margin: 10px;
        padding: 8px;
    }
    .footer p{
        font-size: 12px;
    }
}


/*-----------------------Tab Responsive-----------------------*/
@media screen and (min-width:577px) and (max-width:992px) {
    .nav{
        gap: 0;
        justify-content: center;
    }
    .hero-title{
        padding: 0;
    }
    .hero-des{
        padding: 0 50px ;
    }
    /* Team Section Responsive */
    .team-section{
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 20px;
    }
    .team-details{
        padding: 0 40px;
    }
    /* Feature Section Responsive */
    .feature-section{
        flex-direction: column;
        gap: 60px;
    }
    .feature-img img {
        width: 100%;
    }
    .down-box p{
        font-size: 15px;
    }
    /* Facts Section Responsive */
    .facts-des{
        padding: 20px 0;
        padding-right: 50px;
    }
    .fact-boxes{
        grid-template-columns: repeat(2,1fr);
        margin-top: 5px;
    }
    .facts-section{
        padding: 0 60px;
        margin: 0;
    }
    /* Blog Section Responsive */
    .Section-des{
        padding: 20px 100px;
    }
    .blogs-section{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
    .blog-title{
        font-size: 20px;
    }
    /* Sponsor Section Responsive */
    .sponsors{
        gap: 32px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding: 0;
    }
    /* Footer Section Responsive */
    .footer{
        margin: 10px;
        padding: 8px;
    }
    .footer p{
        font-size: 14px;
    }
}